nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

a {
  margin-left: 5px;
}

a:hover {
  color: red;
}

img {
  width: 75px;
}

.rockets img {
  width: 275px;
  height: 300px;
  margin-right: 20px;
}

.rocket-card {
  display: flex;
  margin-bottom: 20px;
}
.my-profile {
  background-color: rgb(0, 0, 255);
  height: 100vh;
}
.missions {
  background-color: rgb(0, 255, 55);
  height: 100vh;
}
.rockets {
  background-color: rgb(255, 145, 0);
  height: 100vh;
  gap: 20px;
}
